<div class="jumbotron" id="header">
  <h1 class="text-center">UAN <%= icon('flag', class: 'strong') %>
  <p>Creando profesionales del mañana</p>
</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h1 class="page-header">Nosotros</h1>
      <div class="panel"> 
        <p class="text-paragraph">Nuestra universidad cuenta con las mejores instalaciones
        y la más avanzada tecnología para que nuestros estudiantes vivan la experiencia de
        aprendizaje al máximo. Tenemos un campus abierto para expediciones y viajes
        de más de 600km al cuadrado, con una belleza imponente de paisaje y naturaleza. Somos número uno en educación y formación.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= image_tag 'campus.jpg', class: 'thumbnail img-thumbnail' %>
  </div>
</div>