<div class="jumbotron" style="background: url(<%= @user.image.url %>); background-position: center; height: 180px; color: white; text-align: center;">
  <h1><%= @user.name %></h1>
  <p><%= @user.bio %></p>
</div>
