/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";


.normal-navbar{
	margin-bottom: 0 !important;
}

.text-paragraph {
	font-size: 16px;
}

.white {
	color: white;
}

#header{
	color: #fff;
    background-image: url(campus.jpg);
	background-position: center;
	background-size: cover;
	backface-visibility: 0.5;
}

#content{
  font-size: 16px;
  margin-top: 20px;
}